:root {
  --primary: hsl(180, 52%, 96%);
  --secondary: hsl(180, 29%, 50%);
  --text-primary: hsl(180, 29%, 50%);
  --text-secondary: white;
  --text-alternative: hsl(180, 14%, 20%);
  --bg-color: hsl(180, 29%, 50%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}
